@model ExamSystem_MVC_.Models.Question

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SubjectId" class="control-label"></label>
                <select asp-for="SubjectId" class="form-control mb-2">
                    @foreach (var subject in ViewBag.Subject)
                    {
                     <option value="@subject.ID">@subject.Name</option>
                    }
       </select>
            </div>
            <div class="form-group">
                <label asp-for="QuestionText" class="control-label"></label>
                <input asp-for="QuestionText" class="form-control" />
                <span asp-validation-for="QuestionText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoUrl" class="control-label"></label>
                <input asp-for="PhotoUrl" class="form-control" />
                <span asp-validation-for="PhotoUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VariantA" class="control-label"></label>
                <input asp-for="VariantA" class="form-control" />
                <span asp-validation-for="VariantA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VariantB" class="control-label"></label>
                <input asp-for="VariantB" class="form-control" />
                <span asp-validation-for="VariantB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VariantC" class="control-label"></label>
                <input asp-for="VariantC" class="form-control" />
                <span asp-validation-for="VariantC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VariantD" class="control-label"></label>
                <input asp-for="VariantD" class="form-control" />
                <span asp-validation-for="VariantD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorrectAnswer" class="control-label"></label>
                <input asp-for="CorrectAnswer" class="form-control" />
                <span asp-validation-for="CorrectAnswer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
